
<div>
  <app-spinner [spinnit]="loading"></app-spinner>
</div>


<!-- *********** E D I T / U P D A T E  APPLIANCE ********** -->
<div *ngIf="!newSensor && !loading; else newSensorForm" class="">

    <form id="new-project text-white">

        <div class="form-row">
          <div class="col-md-10 mb-3">
            <label for="validationDefault01">Name:</label>
            <input type="text" class="form-control" id="validationDefault01" placeholder="Name" [(ngModel)]="sensor.name" name="appliancename" required>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-10 mb-3">
            <label for="validationDefault02">Position:</label>
            <input type="text" class="form-control" id="validationDefault02" placeholder="position" [(ngModel)]="sensor.position" name="position" required>
          </div>

        </div>

          <hr>
        <!-- D R O P D O W N  for  Assigned Appliance's-->
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputState">zugeordneter Verbraucher:</label>
              <select id="inputState" class="form-control font-weight-bold" [(ngModel)]="assignedAppliance" (ngModelChange)="onApplianceSelected($event)" name="assignedAppliance">
                <option [ngValue]="null"></option>
               <option *ngFor="let appliance of appliances"  [ngValue]="appliance">{{appliance.name}} ({{appliance.position}})</option>
               </select>
            </div>
          </div>

      </form>
  </div>

  
    <!-- ************ N E W   A P P L I A N C E  ************* -->
    <ng-template #newSensorForm>
      <div *ngIf="newSensor && !loading" class="">      
       
        <form id="new-project text-white">

            <div *ngIf="newSensorInCategory" class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputState">Kategorie:</label>
                  <select id="inputState" class="form-control" [(ngModel)]="selectedSensorType" (ngModelChange)="onSensorTypeSelected($event)" name="sensorType">
                    <option [ngValue]="null">wähle...</option>
                    <option *ngFor="let sensorType of sensorTypes" class="font-weight-bold" [ngValue]="sensorType">{{sensorType.name}}</option>
                  </select>
                </div>
              </div>

            <div class="form-row">
              <div class="col-md-10 mb-3">
                <label for="validationDefault01">Name:</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Name" [(ngModel)]="sensor.name" name="sensorname" required>
              </div>
            </div>

            <div class="form-row">
                  <div class="col-md-10 mb-3">
                    <label for="validationDefault02">Position:</label>
                    <input type="text" class="form-control" id="validationDefault02" placeholder="position" [(ngModel)]="sensor.position" name="position" required>
                  </div>

            </div>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputState">zugeordneter Verbraucher:</label>
                  <select id="inputState" class="form-control font-weight-bold" [(ngModel)]="assignedAppliance" (ngModelChange)="onApplianceSelected($event)" name="assignedAppliance">
                    <option [ngValue]="null"></option>
                   <option *ngFor="let appliance of appliances"  [ngValue]="appliance">{{appliance.name}} ({{appliance.position}})</option>
                   </select>
                </div>
              </div>

          </form>
      </div>  
  </ng-template>