<div>
    <app-spinner [spinnit]="loading"></app-spinner>
  </div>
  
    <!-- ************** C I R C U I T B R E A K E R S  **************** -->
    <div *ngIf="!loading && !dashboardView">
  
        <!-- T A B L E     V I E W  -->
        <table class="shadow p-3 mb-5 rounded table table-hover table-striped">
          <thead class="bg-info text-light">
            <tr>
              <th scope="col">NAME</th>
              <th scope="col">Pole</th>
              <th scope="col">kA</th>
              <th scope="col">mA</th>
              <th scope="col">erstellt am</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody *ngFor="let cB of circuitBreakers">
            <!-- Button to trigger UPDATE CircuitBreaker - Modal -->
            <tr *ngIf="cB.surgeprotector_id === surgeProtector.id" (click)="showUpdateCircuitBreakerModal(cB)">
              <th scope="row">{{ cB.name }}</th>    
              <td>{{ cB.number_of_poles }}</td>
              <td>{{ cB.amperage}} </td>
              <td>{{ cB.tripping_characteristic }}</td>
              <td>{{ cB.created_at }}</td>
              <td>
                <a >
                <img (click)="showDeleteCircuitBreakerModal(cB)" id="icon-settings" src="/assets/img/trash.png" alt="icon-settings" >
              </a>
               
              </td>
            </tr>
            
          </tbody>
        </table>
          <!-- Button to trigger NEW CircuitBreaker - Modal -->
        <button type="button" class="btn btn-outline-secondary" (click)="showNewCircuitBreakerModal()">NEU</button>
  
      </div>
      
      <!-- D A S H B O A R D     V I E W  -->
      <div *ngIf="!loading && dashboardView" class="grid grid-pad">
        <div *ngFor="let cB of circuitBreakers">
          <a *ngIf="cB.surgeprotector_id === surgeProtector.id" class="col-1-5" >
            <!-- Button to trigger UPDATE CircuitBreaker - Modal -->
            <div class="module shadow mb-10" (click)="showUpdateCircuitBreakerModal(cB)" >
              
              <div (click)="showDeleteCircuitBreakerModal(cB)" id="settings-container">
                <div id="icon-text"><h6>löschen</h6></div>
                <a >
                <img id="icon-settings" src="/assets/img/trash.png" alt="icon-settings" >
              </a>
              </div>
  
              <h5 class="center">{{cB.name}}</h5>
            </div>
          </a>
        </div>
          <!-- Button to trigger NEW CircuitBreaker - Modal -->
          <a class="col-1-5" (click)="showNewCircuitBreakerModal()">
            <div class="module shadow mb-10">
              <img class="center" src="/assets/img/add.svg" alt="icon-addproject"> 
            </div>
          </a>
        </div>
  
  
  <!-- M O D A L  -> NEW CircuitBreaker  -->
  <div class="modal fade" id="newCircuitBreakerModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-info text-light">
            <h5 class="modal-title" id="exampleModalLongTitle">Sicherung hinzufügen</h5>
            <button (click)="onDismissNewCircuitBreaker()" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-circuitbreakerdetails *ngIf="newModal" [newCircuitBreaker]="true" [surgeProtector]="surgeProtector" (onCircuitBreakerCreated)="onCircuitBreakerCreated($event)"></app-circuitbreakerdetails>
          </div>
          <div class="modal-footer">
            <button type="button" (click)="onDismissNewCircuitBreaker()" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
            <button type="button" (click)="createCircuitBreaker()" class="btn btn-info">OK</button>
          </div>
        </div>
      </div>
      </div>
  
  
  <!-- M O D A L  -> UPDATE Appliance  -->
  <div class="modal fade" id="updateCircuitBreakerModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-info text-light">
            <h5 class="modal-title" id="exampleModalLongTitle">Bearbeite "{{selectedCircuitBreaker?.name}}"</h5>
            <button (click)="onDismissUpdateCircuitBreaker()" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-circuitbreakerdetails *ngIf="selectedCircuitBreaker" (selectedCircuitBreakerChange)="onUpdateSelectedCircuitBreaker($event)" [newCircuitBreaker]="false" [selectedCircuitBreaker]="selectedCircuitBreaker"></app-circuitbreakerdetails>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="onDismissUpdateCircuitBreaker()" data-dismiss="modal">Abbrechen</button>
            <button type="button" (click)="updateCircuitBreaker()" class="btn btn-info">UPDATE</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- M O D A L  -> DELETE Appliance  -->
  <div class="modal fade" id="deleteCircuitBreakerModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-secondary text-light">
            <h5 class="modal-title" id="exampleModalLabel">E N T F E R N E N?</h5>
            <button (click)="onDismissDeleteCircuitBreaker()" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Soll <span class="font-weight-bold">"{{selectedCircuitBreaker?.name}}"</span> permanent gelöscht werden?
          </div>
          <div class="modal-footer">
            <button type="button" (click)="onDismissDeleteCircuitBreaker()" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
            <button type="button" (click)="deleteCircuitBreaker()" class="btn btn-info">JA!</button>
          </div>
        </div>
      </div>
    </div>